<div class="container">
  <div>
    <h2><%= @place.name %></h2>
    <p></p>
  </div>

  <div>
    <p>My Posts</p>
    <p></p>
  </div>

  <div class="row">
    <% for post in @place.posts.where({user_id: @current_user.id}) %>
      <div class="col-md-4 col-sm-6">
        <p><%= post.title %></p>
        <p><%= post.posted_on %><p>
      <% if post.uploaded_image.attached? %>
        <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
      <% end %>
        <p><%= post.description %></p>
      </div>
    <% end %>
  </div>

  <div class="mb-3">
    <a class="btn btn-success" href="/posts/new?place_id=<%= @place.id %>">New Post</a> &nbsp;&nbsp;
    <a class="btn btn-success" href="/places">Back to My Places</a>
  </div>
</div>